---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1557342782'
      Etag:
      - W/"cd32527785557c43a21c4a1d1d1f2519"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":169029549,"node_id":"MDEwOlJlcG9zaXRvcnkxNjkwMjk1NDk=","name":"AML_HMM","full_name":"carletonlsmith/AML_HMM","private":true,"owner":{"login":"carletonlsmith","id":16366377,"node_id":"MDQ6VXNlcjE2MzY2Mzc3","avatar_url":"https://avatars3.githubusercontent.com/u/16366377?v=4","gravatar_id":"","url":"https://api.github.com/users/carletonlsmith","html_url":"https://github.com/carletonlsmith","followers_url":"https://api.github.com/users/carletonlsmith/followers","following_url":"https://api.github.com/users/carletonlsmith/following{/other_user}","gists_url":"https://api.github.com/users/carletonlsmith/gists{/gist_id}","starred_url":"https://api.github.com/users/carletonlsmith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carletonlsmith/subscriptions","organizations_url":"https://api.github.com/users/carletonlsmith/orgs","repos_url":"https://api.github.com/users/carletonlsmith/repos","events_url":"https://api.github.com/users/carletonlsmith/events{/privacy}","received_events_url":"https://api.github.com/users/carletonlsmith/received_events","type":"User","site_admin":false},"html_url":"https://github.com/carletonlsmith/AML_HMM","description":null,"fork":false,"url":"https://api.github.com/repos/carletonlsmith/AML_HMM","forks_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/forks","keys_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/keys{/key_id}","collaborators_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/teams","hooks_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/hooks","issue_events_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/issues/events{/number}","events_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/events","assignees_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/assignees{/user}","branches_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/branches{/branch}","tags_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/tags","blobs_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/git/refs{/sha}","trees_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/git/trees{/sha}","statuses_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/statuses/{sha}","languages_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/languages","stargazers_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/stargazers","contributors_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/contributors","subscribers_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/subscribers","subscription_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/subscription","commits_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/commits{/sha}","git_commits_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/git/commits{/sha}","comments_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/comments{/number}","issue_comment_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/issues/comments{/number}","contents_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/contents/{+path}","compare_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/compare/{base}...{head}","merges_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/merges","archive_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/downloads","issues_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/issues{/number}","pulls_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/pulls{/number}","milestones_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/milestones{/number}","notifications_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/labels{/name}","releases_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/releases{/id}","deployments_url":"https://api.github.com/repos/carletonlsmith/AML_HMM/deployments","created_at":"2019-02-04T04:59:42Z","updated_at":"2019-02-13T02:34:15Z","pushed_at":"2019-02-13T02:34:13Z","git_url":"git://github.com/carletonlsmith/AML_HMM.git","ssh_url":"git@github.com:carletonlsmith/AML_HMM.git","clone_url":"https://github.com/carletonlsmith/AML_HMM.git","svn_url":"https://github.com/carletonlsmith/AML_HMM","homepage":null,"size":153,"stargazers_count":0,"watchers_count":0,"language":"Jupyter
        Notebook","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":166696975,"node_id":"MDEwOlJlcG9zaXRvcnkxNjY2OTY5NzU=","name":"TextMining_L10","full_name":"carletonlsmith/TextMining_L10","private":true,"owner":{"login":"carletonlsmith","id":16366377,"node_id":"MDQ6VXNlcjE2MzY2Mzc3","avatar_url":"https://avatars3.githubusercontent.com/u/16366377?v=4","gravatar_id":"","url":"https://api.github.com/users/carletonlsmith","html_url":"https://github.com/carletonlsmith","followers_url":"https://api.github.com/users/carletonlsmith/followers","following_[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1557342782'
      Etag:
      - W/"491d379ece04c9e9396[...]
