---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1557961855'
      Etag:
      - W/"70ba73379ef01e2707a7c285188ab9b6"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GH_USER_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":177628389,"node_id":"MDEwOlJlcG9zaXRvcnkxNzc2MjgzODk=","name":"little-coffee-shop","full_name":"blake-enyart/little-coffee-shop","private":false,"owner":{"login":"blake-enyart","id":38588295,"node_id":"MDQ6VXNlcjM4NTg4Mjk1","avatar_url":"https://avatars1.githubusercontent.com/u/38588295?v=4","gravatar_id":"","url":"https://api.github.com/users/blake-enyart","html_url":"https://github.com/blake-enyart","followers_url":"https://api.github.com/users/blake-enyart/followers","following_url":"https://api.github.com/users/blake-enyart/following{/other_user}","gists_url":"https://api.github.com/users/blake-enyart/gists{/gist_id}","starred_url":"https://api.github.com/users/blake-enyart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blake-enyart/subscriptions","organizations_url":"https://api.github.com/users/blake-enyart/orgs","repos_url":"https://api.github.com/users/blake-enyart/repos","events_url":"https://api.github.com/users/blake-enyart/events{/privacy}","received_events_url":"https://api.github.com/users/blake-enyart/received_events","type":"User","site_admin":false},"html_url":"https://github.com/blake-enyart/little-coffee-shop","description":null,"fork":false,"url":"https://api.github.com/repos/blake-enyart/little-coffee-shop","forks_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/forks","keys_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/teams","hooks_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/hooks","issue_events_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/issues/events{/number}","events_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/events","assignees_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/assignees{/user}","branches_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/branches{/branch}","tags_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/tags","blobs_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/languages","stargazers_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/stargazers","contributors_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/contributors","subscribers_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/subscribers","subscription_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/subscription","commits_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/contents/{+path}","compare_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/merges","archive_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/downloads","issues_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/issues{/number}","pulls_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/labels{/name}","releases_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/releases{/id}","deployments_url":"https://api.github.com/repos/blake-enyart/little-coffee-shop/deployments","created_at":"2019-03-25T16:55:26Z","updated_at":"2019-04-25T17:57:48Z","pushed_at":"2019-04-25T17:57:52Z","git_url":"git://github.com/blake-enyart/little-coffee-shop.git","ssh_url":"git@github.com:blake-enyart/little-coffee-shop.git","clone_url":"https://github.com/blake-enyart/little-coffee-shop.git","svn_url":"https://github.com/blake-enyart/little-coffee-shop","homepage":null,"size":590,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":16,"license":null,"forks":1,"open_issues":16,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":176141894,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYxNDE4OTQ=","name":"2win_playlist","full_name":"milevy1/2win_playlist","private":false,"owner":{"login":"milevy1","id":36040194,"node_id":"MDQ6VXNlcjM2MDQwMTk0","avatar_url":"https://avatars3.githubusercontent.com/u/36040194?v=4","gravatar_id":"","url":"https://api.github.com/users/milevy1","html_url":"https://github.com/milevy1","followers_url":"https://api.github.com/users/milevy1/followers","following_url":"https://api.github.com/users/m[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1557961855'
      Etag:
      - W/"dc1548a4ab1b396154d[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1557961855'
      Etag:
      - W/"7079b78f5e2c155d931[...]
- request:
    method: get
    uri: https://api.github.com/users/milevy1?access_token=<GH_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1557961856'
      Etag:
      - W/"ada05b616d1e54dc8f9db843b1fb9f27"
      Last-Modified:
      - Sat, 30 Mar 2019 23:31:03 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"milevy1","id":36040194,"node_id":"MDQ6VXNlcjM2MDQwMTk0","avatar_url":"https://avatars3.githubusercontent.com/u/36040194?v=4","gravatar_id":"","url":"https://api.github.com/users/milevy1","html_url":"https://github.com/milevy1","followers_url":"https://api.github.com/users/milevy1/followers","following_url":"https://api.github.com/users/milevy1/following{/other_user}","gists_url":"https://api.github.com/users/milevy1/gists{/gist_id}","starred_url":"https://api.github.com/users/milevy1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/milevy1/subscriptions","organizations_url":"https://api.github.com/users/milevy1/orgs","repos_url":"https://api.github.com/users/milevy1/repos","events_url":"https://api.github.com/users/milevy1/events{/privacy}","received_events_url":"https://api.github.com/users/milevy1/received_events","type":"User","site_admin":false,"name":"Matt
        Levy","company":null,"blog":"","location":"Denver, CO","email":"milevy1@gmail.com","hireable":true,"bio":"Rails
        Developer","public_repos":47,"public_gists":9,"followers":6,"following":5,"created_at":"2018-02-01T13:31:18Z","updated_at":"2019-03-30T23:31:03Z"}'
  recorded_at: Wed, 15 May 2019 22:10:56 GMT
[...]
